# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Django migrations
*.mo
*.pot
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.log
*.sqlite3
*.db
*.sqlite
*.sqlite3-journal
*.db-journal
*.sqlite-journal
*.db-shm
*.db-wal
*.sqlite-shm
*.sqlite-wal

# Pytest
.cache/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Virtual environment
venv/
.env/
*.venv
env/
ENV/
env.bak/
venv.bak/